---
import NewCard from '@/components/ui/cards/newCard/NewCard'
import sctoolsLogo from '@/assets/apps/icons/sctools-icon.webp'
import monitorToolsLogo from '@/assets/apps/icons/monitor-tools-icon.webp'
import { version } from 'typescript'

const scTools = {
	headerImg: {
		src: sctoolsLogo.src,
		fallback: 'SC',
		bgColor: 'bg-white'
	},
	action: {
		link: '/downloads/sctools/sctools-lts.zip',
		label: 'Descargar'
	},
	version: '1.0.0'
}

const monitorTools = {
	headerImg: {
		src: monitorToolsLogo.src,
		fallback: 'MT'
	},
	action: {
		link: '/downloads/monitortools/monitor-tools-0.1.0.zip',
		label: 'Descargar'
	},
	version: '0.1.0'
}
---

<div class="mx-auto my-8 w-full lg:my-16">
	<div class="mx-auto w-10/12 lg:w-2/3">
		<h2>Para Modelos</h2>
		<NewCard
			title="ScTools"
			description="Esta extensi칩n mejora la interface de usuario en algunos camsites, ademas de ayudar funcionalidades como mensajes r치pidos transversales entre camsites"
			headerImg={scTools.headerImg}
			action={scTools.action}
			version={scTools.version}
			client:load
		/>
		<h2 class="mt-4">Para Monitores</h2>
		<NewCard
			title="Monitor Tools"
			description="Facilita el trabajo de tus monitores para reportes de modelos de manera r치pida y f치cil."
			headerImg={monitorTools.headerImg}
			action={monitorTools.action}
			version={monitorTools.version}
			client:load
		/>
	</div>
</div>
