---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '@/assets/features/sigw.png'
import feature02 from '@/assets/features/capacitaciones.png'
import feature03 from '@/assets/features/asesorias.png'
import feature04 from '@/assets/features/monetizacion.png'
import feature05 from '@/assets/features/soporte.png'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Somos innovación, <strong>apoyo</strong> y crecimiento</h2>
			<p class="pb-0 text-lg">
				Con nuestra asesoría y acompañamiento profesional para estudios y modelos webcam con más de
				10 años de experiencia en este universo, desarrollamos procesos a través de los cuales, se
				adquieren, actualizan y desarrollan conocimientos, habilidades y actitudes para la
				construcción y/u optimización de tu cosmos.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Toda tu información en un solo lugar"
				subtitle="Administra toda la información de tu estudio y modelos desde un mismo lugar. Con nuestro Sistema Integrado de Gestión Webcam, todo es mas fácil."
				image={feature01}
				link="https://www.mistudiowebcam.com/sigw/"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Capacitaciones"
				subtitle="Conoce las mejores prácticas y herramientas para maximizar tus resultados."
				image={feature02}
				link="/capacitaciones"
			/>
			<Card
				title="Asesorías"
				subtitle="Cuenta con el una gran cantidad de conocimiento acumulado que esta a tu disposición en el momento que lo necesitas."
				image={feature03}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Monetización"
				subtitle="Monetiza con nosotros para tener los mejores porcentajes en en el tiempo correcto. "
				image={feature04}
				link="/features"
			/>
			<Card
				title="Soporte técnico y de negocio"
				subtitle="Cuenta con nuestro acompañamiento para resolver cualquier inconveniente técnico o de negocio que se te presente."
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
